body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857142857143;
	color: #333333;  
}

p {
	padding: 0;
	margin-top: 12px;
	margin-bottom: 12px;
}

input {
	margin: 0;
	padding: 0;
}

a {
	outline: none;
	text-decoration: none;
}

a,
a:link,
a:active,
a:visited,
a:hover {
	color: #3b73af;
	text-decoration: none;
	background-color: transparent; /* Avoid background on click (IE) */
}

a:hover {
	text-decoration: underline;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

/*******************************************************************/
/* General purposes classes */

.clear {
	clear: both;
}

.hidden,
.busy {
	display: none;
}

.top {
	margin-top: 0 !important;
}

.bottom {
	margin-bottom: 0 !important;
}

.link,
.link:link,
.link:active,
.link:visited,
.link:hover {
	color: inherit;
	text-decoration: underline;
}

.link-noline,
.link-noline:link,
.link-noline:active,
.link-noline:visited,
.link-noline:hover {
	color: inherit;
}

/*******************************************************************/
/* Text related classes */

.text-ppp {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}

.text-secondary {
	color: #707070;
}

.text-error {
	color: #D04437;
}

/*******************************************************************/
/* Forms and fields */

form .intro {
	margin: 0 0 5px 0;
}

form .select {
	background: #ffffff;
	color: #333333;
	font-family: inherit;
	font-size: inherit;
	border: 1px solid #cccccc;
	border-radius: 3.01px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	height: 2.14285714em;
	line-height: 1.4285714285714;
	padding: 6px 5px 5px 5px;
	/* Firefox doesn't allow line-height to be adjusted and selects break horribly when the font-family is changed. Using padding instead */
	vertical-align: top;
}

form .select option,
form .select option {
	background-color: #ffffff;
	color: #333333;
}

/*******************************************************************/
/* Buttons */

.button,
a.button,
.button:visited {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f5f5f5;
	border: 1px solid #cccccc;
	border-radius: 3.01px;
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 14px;
	font-variant: normal;
	font-weight: normal;
	height: 2.14285714em;
	line-height: 1.42857143;
	margin: 0;
	padding: 4px 10px;
	text-decoration: none;
	vertical-align: baseline;
	white-space: nowrap;
}

.button:focus {
	outline: 0 !important;
}

.button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.button:hover {
	background: #e9e9e9;
	border-color: #999999;
	color: #000000;
	text-decoration: none;
}

.button:active {
	box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.1);
	background-image: none;
	background: #f5f5f5;
	text-decoration: none;
}

/* Link style buttons - used for destructive/cancel actions ONLY */
.button.button-link,
.button.button-link:visited {
	background: transparent;
	border-color: transparent;
	color: #3572b0;
	padding: 4px 0;
	text-decoration: none;
	box-shadow: none;
}

.button.button-link:focus,
.button.button-link:hover,
.button.button-link:active {
	background: transparent;
	border-color: transparent;
	box-shadow: none;
	text-decoration: underline;
}

.button-group .button {
	margin-left: -1px;
	border-radius: 0;
}

.button-group .button:first-of-type {
	margin-left: 0;
	border-top-left-radius: 3.01px;
	border-bottom-left-radius: 3.01px;
}

.button-group .button:last-child {
	border-top-right-radius: 3.01px;
	border-bottom-right-radius: 3.01px;
}

.button-group .button-active {
	box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.1);
	background: #D0D0D0 !important;
	border-color: #999999 !important;
}

.button-group .button-active + .button,
.button-group .button:hover + .button {
	border-left: 1px solid #999999 !important;
}

.buttons {
	font-size: 0;
}

.buttons .button + .button {
	margin-left: 10px;
}

/* Disabled states (keep last to avoid excessive selector weight) */
.button-disabled,
.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active {
	background: #f5f5f5;
	border-color: #dddddd !important;
	box-shadow: none !important;
	color: #999999 !important;
	cursor: not-allowed;
}

.button-small {
	padding: 3px 9px !important;
	font-size: 12px !important;
	height: 24px !important;
}

/*******************************************************************/
/* Grid */

.grid-container {
	margin-bottom: 1em;
}

.grid-header {
	margin: 6px 0;
	font-weight: normal;
	color: #707070;
}

.grid {
	width: 100%;
	table-layout: fixed;
	display: table;
	border-collapse: collapse;
}

.grid-row {
	display: table-row;
	border-top: 1px solid #EAEAEA;
}

.grid-column {
	display: table-cell;
	vertical-align: top;
	margin: 0;
	padding: 8px;
}

.grid-row:first-child,
.grid-row-details {
	border-top: none !important;
}

.grid-row-details > .grid-column {
	padding-top: 0;
}

.grid-column-right {
	text-align: right;
}

.grid-buttons {
	margin-top: 10px;
}

.change-field > .grid > .grid-row:first-child .grid-column {
	padding-top: 0;
}

/*******************************************************************/
/* Property lists */

.property-list {
	display: block;
	margin: 0;
	list-style: none;
	padding: 0;
}

.property-list > li {
	margin: 1px 0 0 0;
	padding: 0;
	position: relative;
}

.property-list .item {
	margin: 1px 0 0 0;
}

.property-list .item .name {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
	word-break: break-word;
	color: #707070;
	display: inline-block;
	font-weight: normal;
	padding: 2px 5px 2px 0;
	padding-right: 5px;
	width: 100px;
	text-align: left;
}

.property-list .item .value {
	word-wrap: break-word;
	word-break: break-word;
	display: inline-block;
	max-width: 100%;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-top: 2px;
	position: relative;
	vertical-align: top;
}

.property-list .item .value .value {
	padding: 0;
}

.property-list .wrap {
	padding: 0 10px 0 100px;
}

.property-list .wrap:before,
.property-list .wrap:after {
	content: " ";
	display: table;
}

.property-list .wrap:after {
	clear: both;
}

.property-list .wrap .name {
	float: left;
	margin-left: -100px;
}

/*******************************************************************/
/* Dialogs */

.dialog {
}

.dialog-header {
	box-sizing: border-box;
	background: #f5f5f5;
	border-bottom: 1px solid #cccccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 50px;
	padding: 10px 20px;	
}

.dialog-header-title {
	font-size: 20px;
	line-height: 1.5
}

.dialog-content {
	box-sizing: border-box;
	padding: 20px 20px;	
}

.dialog-content-inner {
	width: 100%;
}

.dialog-footer {
	box-sizing: border-box;
	background: #f5f5f5;
	border-top: 1px solid #cccccc;
	height: 50px;
	padding: 10px 20px;	
}

.dialog-footer-buttons {
	text-align: right;
	clear: both;
}

/*******************************************************************/
/* Lozenge */

.lozenge {
	background: #cccccc;
	border: 1px solid #cccccc;
	border-radius: 3px;
	color: #333333;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	line-height: 99%;
	/* cross-browser compromise to make the line-height match the font-size */
	margin: 0;
	padding: 2px 5px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

/*******************************************************************/
/* Result properties */

.result-container {
	padding-top: 2px;
	min-height: 30px;
}

.change-intro {
	background: #f5f5f5;
	padding: 8px;
	border-radius: 4px;
	margin: 4px 0 12px 0;
}

.change-meta strong {
	color: #707070;
	font-weight: normal;
}

.change-meta-item {
	margin-top: 1em; 	 
}

.change-meta-label {
	display: block;
	font-weight: normal;
	color: #707070;
	padding: 0;
	margin: 0;
}

.change-field-label {
	display: block;
	font-weight: normal;
	color: #707070;
	margin: 12px 0;
	background: #f5f5f5;
	padding: 0 8px;
	border-radius: 4px;
	height: 26px;
	line-height: 26px;
}

.change-field {
	padding-left: 15px;
}

/*******************************************************************/
/* Configurations */

.configuration {
	color: #337933;
}

/*******************************************************************/
/* Attachments */

.attachments {
	width: 100%;
	table-layout: fixed;
	display: table;
	border-collapse: collapse;
}

.attachment-item {
	display: table-row;
	border-top: 1px solid #EAEAEA;
	height: 50px;
}

.attachment-item:first-child {
	border-top: 0;
}

.attachment-item:last-child {
	padding-bottom: 0px;
}

.attachment-image {
	display: table-cell;
	vertical-align: top;
	padding-top: 15px;
	width: 45px;
}

.attachment-summary {
	display: table-cell;
	vertical-align: top;
	padding: 10px 0;
	width: 100%;
}

.attachment-description {
	margin-bottom: 0;
	margin-top: 5px;
}

.change-field > .attachments > .attachment-item:first-child .attachment-summary {
	padding-top: 0;
} 

.change-field > .attachments > .attachment-item:first-child .attachment-image {
	padding-top: 5px;
}

/*******************************************************************/
/* Pagination */

.pagination {
	margin-top: 12px;
	text-align: right;	
}

/*******************************************************************/
/* Steps */

.steps {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	table-layout: fixed;
}

.steps td {
	border-top: 1px solid #EAEAEA;
}

.steps-control td {
	border-bottom: 6px solid white;
}

.steps col.no {
	width: 35px;
}

.steps col.buttons {
	width: 50px;
}

.steps th {
	text-align: left;
	color: #505050;
	font-weight: bold;
	padding-bottom: 5px;
}

.steps th.content {
	padding-left: 8px;
}

.step-no {
	vertical-align: top;
}

.step-no-inner {
	background: #E0E0E0;
	padding: 5px;
	font-size: 12px;
	text-align: center;
}

.step-position {
	margin-top: 10px;
}

.step-index {
	vertical-align: top;
	padding-top: 4px;
	border-top: 0 !important;
}

.step-index-circle {
	background: #E0E0E0;
	border-radius: 50%;
	width: 26px;
	height: 26px;	
	text-align: center;
}

.step-index-inner {
	display: inline-block;
	margin-top: 4px;
}

.step-content {
	vertical-align: top;
	padding: 8px;
	background: #F5F5F5;
}

.step-title {
	margin: 0.5em 0;
}

.step-header {
	margin-top: 12px;
	margin-bottom: 8px;
	color: #707070;
}

.step-buttons {
	vertical-align: top;
	background: #F5F5F5;
	padding-top: 10px;
	padding-right: 10px;
}

.step-result {
	width: 130px;
	vertical-align: top;
}

.step-result-inner {
	text-align: right;
	padding-top: 10px;
}

.step-expected {
	padding-left: 15px;
}

.step-actual {
	padding-left: 15px;
}

/*******************************************************************/
/* Markdown */

.plain {
	word-wrap: break-word;
}

.markdown {
	word-wrap: break-word;
}

.markdown strong {
	color: #505050;	
}

.markdown *:last-child {
	margin-bottom: 0;
}

.markdown >:first-child {
	margin-top: 0;
}

.markdown h1 {
	font-size: 16px;
	font-weight: bold;	
	background: none;
	border: none;
	margin: 1em 0 1em 0;
	color: #333333;
	padding: 0;
	height: inherit;
	line-height: 1.4;
}

.markdown h2 {
	font-size: 15px;
	font-weight: bold;
	margin: 1em 0 1em 0;
	color: #333333;
	padding: 0;
	background: none;
	border: none;
}

.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
	font-size: 14px;
	font-weight: bold;
	margin: 1em 0 1em 0;
	color: #333333;
	padding: 0;
}

.markdown blockquote {
	font-style: italic;
	color: #505050;
	margin: 1em 2em 0 2em;
}

.markdown hr {
	color: #C0C0C0;
	background-color: #E0E0E0;
	margin: 1em 0;
	height: 1px;
	border: none;
}

.markdown pre {
	margin: 1em 0;
	overflow: auto;
	padding: 2px 0;
	line-height: 140%;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	font-family: Consolas, Menlo, "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Courier New, monospace;
}

.markdown code {
	font-family: Consolas, Menlo, "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Courier New, monospace;
}

.markdown-img-container {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	width: 80%;
}

.markdown-img {
	width: 80%\9; /* IE only */
	max-width: 80%;
}

:root .markdown-img {
	width:inherit\9; /* undo for IE 9+ */
}

.markdown ul,
.markdown ol,
.markdown pre,
.markdown blockquote {
	margin-bottom: 0;
}

.markdown ol li p,
.markdown ul li p {
	margin-bottom: 1em;
}

.markdown ol {
	list-style: decimal !important;
	margin-left: 2.5em;
	margin-top: 2px;
}

.markdown ul {
	list-style: disc !important;
	margin-left: 2em;
	margin-top: 2px;
}

.markdown ol li {
	display: list-item;
	padding: 1px;
	line-height: 140%;
}

.markdown ul li {
	display: list-item;
	padding: 1px;
	line-height: 140%;
}

.markdown table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
	table-layout: fixed;
}

.markdown table th,
.markdown table td {
	padding: 8px;
	margin: 0;
	text-align: left;
	line-height: 1.2;
	border: 1px solid #D7D7D7;
	vertical-align: top;
}

.markdown table tr:hover {
	background: #F1F8FE;
}

.markdown table th {
	font-weight: bold;
	background: #F5F5F5;
	color: #505050;
}

.markdown table th.center,
.markdown table td.center {
	text-align: center;
}

.markdown table th.right,
.markdown table td.right {
	text-align: right;
}

.markdown table .monospace {
	font-size: inherit !important;
}
